---
import MainLayout from '../layouts/main-layout.astro'
import Button from '../components/button.tsx'
import CallIcon from "../icons/call.tsx"
import Experience from '../components/experience.tsx'

const contactInfo = {
	phoneNumber: '035 912 8998'
}

const services = [
	{
		title: 'Tầm Nhìn',
		text1: 'Tinh thần trách nhiệm cùng chiến lược phát triển bền vững.',
		text2: 'Định hướng mới mẻ, phong cách trẻ trung.'
	},
	{
		title: 'Uy Tín',
		text1: 'Cam kết cung cấp dịch vụ tốt nhất cho khách hàng.',
		text2: 'Đề cao từng cảm nhận của khách hàng.'
	},
	{
		title: 'Cam Kết',
		text1: 'Đem lại mức giá tiết kiệm cho khách hàng.',
		text2: 'Đề xuất những phương án hợp lý cho từng dự án.'
	},
]

const reviews = [
	{
		img: '/natasha.png',
		name: 'Văn Mai Hường',
		location: 'Tây Ninh, USA',
		review: 'Thực sự là tôi không nghĩ gì cả, đây là đôi lời vu vơ.'
	},
	{
		img: '/benny.png',
		name: 'Pana',
		location: 'Ca na đa, Cam pu chia',
		review: 'Tôi nghĩ là thế giới này cần SBS - Sustainable Building Solutions.'
	},
	{
		img: '/raymond.png',
		name: 'Hoa Hồng Xanh',
		location: 'Sài Gòn, Hồ Chí Minh',
		review: 'Socks Before Shoes, tôi vẫn thường đeo giày trước khi mang vớ.'
	},
]

const projects = [
	{
		img: '/project1.jpg',
		name: 'NTQ',
		text: 'Team building / Du lịch'
	},
	{
		img: '/project2.jpg',
		name: 'Long Sơn',
		text: 'Tham quan / Du lịch'
	},
	{
		img: '/project3.jpg',
		name: 'alphaway',
		text: 'Party'
	},
	{
		img: '/project4.jpeg',
		name: 'Công ty Áo vàng rực rỡ',
		text: 'Team building / Du lịch'
	},
	{
		img: '/project5.jpeg',
		name: '',
		text: ''
	},
	{
		img: '/project6.jpg',
		name: '',
		text: ''
	},
	{
		img: '/project7.jpeg',
		name: '',
		text: ''
	},
	{
		img: '/project8.jpeg',
		name: '',
		text: ''
	},
	{
		img: '/project9.jpeg',
		name: '',
		text: ''
	},
	{
		img: '/project10.jpeg',
		name: '',
		text: ''
	},
	{
		img: '/project11.jpeg',
		name: '',
		text: ''
	},
	{
		img: '/project12.jpeg',
		name: '',
		text: ''
	},
	{
		img: '/project13.jpeg',
		name: '',
		text: ''
	},
	{
		img: '/project14.jpeg',
		name: '',
		text: ''
	},
	{
		img: '/project15.jpeg',
		name: '',
		text: ''
	},
	{
		img: '/project16.jpeg',
		name: '',
		text: ''
	},
	{
		img: '/project17.jpeg',
		name: '',
		text: ''
	},
	{
		img: '/project18.jpeg',
		name: '',
		text: ''
	},
]

const clientLogos = [
	{
		img: '/mitsubishiLogo.png',
	},
	{
		img: '/longsonLogo.png',
	},
	{
		img: '/alphawayLogo.png',
	},
	{
		img: '/ntqLogo.png',
	},
	{
		img: '/cchlLogo.png',
	},
	{
		img: '/sununiLogo.png',
	},
]

const experiences = [
	{
		num: '70+',
		text:'Sự kiện'
	},
	{
		num: '30+',
		text:'Địa danh'
	},
	{
		num: '10+',
		text:'Khách hàng thân thiết'
	},
]

---

<MainLayout title = 'SBS - Success By the Simplicity'>

	<!-- Banner -->
	
	<video autoplay muted loop id="panaVideo" width=100%>
		<source src="pana.mp4" type="video/mp4">
	</video>

	<!-- About Section -->
	<section class="bg-amber-50 w-full mx-auto px-[200px] px- flex flex-col-reverse justify-center items-center lg:grid grid-cols-2 gap-[75px] pt-[40px] ">
		<div class="flex flex-col gap-8 max-w-[672px] items-center lg:items-start py-6">
			<h2 class="text-[30px] uppercase text-center lg:text-left font-dm tracking-wide leading-8 md:leading-[62.50px] md:text-[50px] text-text-blue ">Về chúng tôi</h2>
			<p class="text-base md:text-[22px] text-center lg:text-left tracking-tight font-jost text-text-gray leading-[33px]">SBS là công ty chuyên tổ chức sự kiện, du lịch được dẫn dắt và điều hành bởi đội ngũ kinh nghiệm lâu năm trong lĩnh vực du lịch truyền thông.</p>
			<p class="text-base md:text-[22px] text-center lg:text-left tracking-tight font-jost text-text-gray leading-[33px]">Với sứ mệnh và tầm nhìn nhằm đem đến những trải nghiệm phong phú, đặc sắc cùng chi phí hợp lý.</p>
			<p class="text-base md:text-[22px] text-center lg:text-left tracking-tight font-jost text-text-gray leading-[33px]">Chúng tôi tự tin rằng SBS là sự lựa chọn hàng đầu cho những chuyến đi và sự kiện của bạn.</p>
			<div class="flex gap-4 pt-3 items-center">
				<CallIcon/>
				<p class="flex flex-col text-text-gray-200 font-jost tracking-tight">
					<span class="text-2xl font-bold leading-9 ">{contactInfo.phoneNumber}</span>
					<span class="text-[22px] leading-8">Liên hệ để được tư vấn</span>
				</p>
			</div>
			<a href="/contact" style={{textDecoration: 'none'}}>
				<Button text="Nhận tư vấn miễn phí"/>
			</a>
		</div>

		<div class="w-1000 h-1000">
			<img src="/about-img.jpg" alt="" style="border-radius: 5%"/>
		</div>
	</section>

	<!-- Services Section -->		
	<section class="bg-services bg-no-repeat">	
		<div class="center text-6xl pt-10 uppercase mb-0 font-dm">
			<h2>Giá trị SBS mang lại</h2>
		</div>
		<section class="lg:max-w-[1200px] flex flex-col gap-8 lg:gap-10 lg:flex-row px-12 xl:px-0 w-full mx-auto pt-[100px] lg:pt-[40px] lg:pb-[40px] justify-between">
			<div class="w-full max-w-[358px] mx-auto flex flex-col justify-center items-center gap-3 md:gap-5">
				<h3 class="text-sky-800 font-dm text-[22px] md:text-[34px] leading-loose">Tầm Nhìn</h3>
				<p class="text-base md:text-[22px] tracking-tight font-jost text-text-gray leading-[33px] text-center">Tinh thần trách nhiệm cùng chiến lược phát triển bền vững.</p>
				<p class="text-base md:text-[22px] tracking-tight font-jost text-text-gray leading-[33px] text-center">Định hướng mới mẻ, phong cách trẻ trung.</p>
			</div>
			<div class="w-full max-w-[358px] mx-auto flex flex-col justify-center items-center gap-3 md:gap-5">
				<h3 class="text-purple-800 font-dm text-[22px] md:text-[34px] leading-loose">Uy Tín</h3>
				<p class="text-base md:text-[22px] tracking-tight font-jost text-text-gray leading-[33px] text-center">Cam kết cung cấp dịch vụ tốt nhất cho khách hàng.</p>
				<p class="text-base md:text-[22px] tracking-tight font-jost text-text-gray leading-[33px] text-center">Đề cao từng cảm nhận của khách hàng.</p>
			</div>
			<div class="w-full max-w-[358px] mx-auto flex flex-col justify-center items-center gap-3 md:gap-5">
				<h3 class="text-pink-600 font-dm text-[22px] md:text-[34px] leading-loose">Cam Kết</h3>
				<p class="text-base md:text-[22px] tracking-tight font-jost text-text-gray leading-[33px] text-center">Đem lại mức giá tiết kiệm cho mỗi chuyến đi.</p>
				<p class="text-base md:text-[22px] tracking-tight font-jost text-text-gray leading-[33px] text-center">Đề xuất những phương án hợp lý cho từng dự án.</p>
			</div>
		</section>
		<!-- <section class="lg:max-w-[1200px] flex flex-col gap-8 lg:gap-10 lg:flex-row px-12 xl:px-0 w-full mx-auto pt-[100px] lg:pt-[40px] lg:pb-[40px] justify-between">
			{
				services.map((service) => {
					return (
						<div class="w-full max-w-[358px] mx-auto flex flex-col justify-center items-center gap-3 md:gap-5">
							<h3 class="text-text-blue font-dm text-[22px] md:text-[30px] leading-loose">{service.title}</h3>
							<p class="text-base md:text-[22px] tracking-tight font-jost text-text-gray leading-[33px] text-center"> {service.text1}</p>
							<p class="text-base md:text-[22px] tracking-tight font-jost text-text-gray leading-[33px] text-center"> {service.text2}</p>
						</div>
					)
				})
			}
		</section> -->
	</section>

	<!-- Experience Section -->
	<section class="w-full bg-primary-300 px-12 xl:px-0 mt-[100px] lg:mt-[0px] py-[100px] ml-0 mr-0">
		<div class="w-full max-w-[1200px] mx-auto flex lg:justify-center items-center overflow-x-scroll no-scrollbar">
			{
				experiences.map((exp, i) => {
					return(
						<Experience text={exp.text} num={exp.num} i={i} client:load />
					)
				})
			}
		</div>
	</section>

	<!-- What People Think About Us Section -->
	<!-- <section class="lg:max-w-[1600px] px-12 xl:px-0 w-full mx-auto pt-[100px] lg:pt-[200px] mr-0">
	<div class="w-full flex flex-col bg-primary-300 rounded-[48px] px-6 py-[88px]">
		<h2 class="font-dm tracking-wide text-center leading-[37px] lg:leading-[62.50px] text-[30px] lg:text-[50px] w-full lg:max-w-[50%] pb-9 mx-auto">Họ nghĩ gì về chúng tôi</h2>
		<div class="flex flex-col gap-8 lg:gap-10 lg:flex-row justify-between">
			{
			reviews.map((rev) => {
				return (
					<div class="w-full bg-white max-w-[370px] px-[37px] py-[53px] rounded-3xl mx-auto flex flex-col justify-center gap-4 md:gap-6">
						<div class="flex flex-col sm:flex-row gap-6 items-center">
							<img src={rev.img} alt="" />
							<p class="flex flex-col tracking-tight leading-9">
								<span class="text-primary-200 text-lg lg:text-[25px] font-dm">{rev.name}</span>
								<span class="text-text-gray-200 text-base lg:text-lg font-jost">{rev.location}</span>
							</p>
						</div>
						<p class="font-jost tracking-tight leading-8 text-base text-center sm:text-left text-text-gray lg:text-[22px]">{rev.review}</p>
					</div>
			)
		})
		}
		</div>
	</div>
	</section> -->


	<!-- Projects Section -->

	<section class="bg-red-50 px-12 xl:px-0 w-full mx-auto pt-[100px] lg:pt-[40px]">
		<h2 class="font-dm uppercase tracking-wide text-center leading-[37px] lg:leading-[62.50px] text-[30px] lg:text-[50px] w-full lg:max-w-[90%] pb-2 mx-auto">Những dự án của chúng tôi</h2>
		<p class="text-base md:text-[22px] text-center tracking-tight font-jost text-text-gray leading-[33px] lg:max-w-[60%] mx-auto">Là sự cố gắng nỗ lực không ngừng, luôn lắng nghe và đáp ứng nguyện vọng của khách hàng.</p>
		<div class="gallery-container flex flex-nowrap overflow-x-scroll py-4 h-200">
			{
			projects.map((proj) => {
				return (
					<img src={proj.img} alt="" width="500" height="200" class="flex-none object-cover rounded-lg mr-4 last:mr-0"/>
			)
		})
		}
		</div>
	</section>

	<!-- Client Logo Section -->

	<section class="bg-primary-300 px-12 xl:px-0 w-full pt-[100px] lg:pt-[60px] lg:pb-[80px]">
		<div class="center text-6xl uppercase mb-0 text-black-800 text-primary-200 font-vary">
			<h2>Khách hàng của chúng tôi</h2>
		</div>
		<div class="flex flex-row justify-between items-center gap-12 overflow-x-scroll no-scrollbar mt-20">
			{
				clientLogos.map(logo => <img src={logo.img} alt="" width="150" height="44"/>)
			}
		</div>
	</section>
	
</MainLayout>
 

<style>

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  /* Styles for the scrollbar track (background) */
	.gallery-container::-webkit-scrollbar {
	height: 8px; /* Height of the horizontal scrollbar */
	}

/* Styles for the scrollbar handle */
.gallery-container::-webkit-scrollbar-thumb {
  background: #6b7280; /* Gray color for the scrollbar handle */
  border-radius: 4px; /* Rounded corners for the scrollbar handle */
}

/* Styles for the scrollbar handle on hover */
.gallery-container::-webkit-scrollbar-thumb:hover {
  background: #4b5563; /* Darker gray color on hover */
}

.gallery-container img {
  height: 500px; /* Set your desired height */
  width: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the area of the container without distortion */
}


</style>

<script>
	document.addEventListener('DOMContentLoaded', function() {
	  const gallery = document.querySelector('.gallery-container');
	  let isUserScrolling = false;
  
	  // Function to start auto-scrolling
	  function startAutoScroll() {
		if (gallery && !isUserScrolling) {
		  gallery.scrollLeft += 2; // Adjust the value to control the speed
		}
	  }
  
	  // Set an interval for the auto-scrolling
	  const autoScroll = setInterval(startAutoScroll, 20); // Adjust the timing for speed
	  if (gallery) {
	  // Listen for user interaction to pause auto-scrolling
	  gallery.addEventListener('mouseover', () => {
		isUserScrolling = true;
	  });
  
	  gallery.addEventListener('mouseleave', () => {
		isUserScrolling = false;
	  });
  
	  // Optional: Listen for touch events on mobile devices
	  gallery.addEventListener('touchstart', () => {
		isUserScrolling = true;
	  });
  
	  gallery.addEventListener('touchend', () => {
		isUserScrolling = false;
	  });
	  }
	});
  </script>